#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form > label { 
    text-align: left;
    width: 45rem;
}

#form > * { font-size: 2.5rem;}
#form > input { width: 45rem; margin-bottom: 1.5rem;}
#form > select { width: 45rem; margin-bottom: 1.5rem;}

.hidden {display: none !important;}

@media screen and (max-width: 450px) {
    #form > label { 
        text-align: left;
        width: 90vw;
    }
    
    #form > * { font-size: 2.5rem;}
    #form > input { width: 90vw; margin-bottom: 1.5rem;}
    #form > select { width: 90vw; margin-bottom: 1.5rem;}

    .btn {width: 90vw;}
}